*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: blue;
}

html{
    font-family: sans-serif;
}


header{
    height: 80px;
    width: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    z-index: 1;
}

header li a{
    color: black;
}

/* header sinistra */

.head-left{
    height: 100%;
    width: 35%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.logo{
    height: 100%;
    width: 20%;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.logo img{
    width: 100%; 
}

.info-topleft{
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header ul li:hover{
    border-bottom: 3px solid black;
}

.info-topleft li{
    width: calc(100%/3);
    height: 100%;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header destra */

.head-right{
    height: 100%;
    width: 30%;
    border: 1px solid red;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4%;
}

.info-topright{
    width: 70%;
    height: 70%;
    display: flex;
    list-style: none;
}

.info-topright li{
    width: calc(100%/3);
    height: 100%;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tour{
    margin-right: 20px;
    height: 70%;
    border: 1px solid green;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 98, 255, 1);
    padding: 20px;
}

.tour:hover{
    background-color: rgba(0, 98, 255, 0.8);
}

/* start main */

main{
    width: 100%;
    border: 4px solid black;
}

/* first container top */

.container1{
    margin: 0 auto;
    width: 80%;
    height: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 2%;
}

.head-main{
    width: 100%;
    
    background-color: #B4D0E7;
}

.title{
  font-size: 3em;  
  text-align: left; 
  margin-top: 50px;
  width: 100%;
  height: 20%;
}

.content-top{
    border: 1px solid red;
    height: 60%;
    width: 100%;
    display: flex;
    position: relative;
}

.free-trial{
    text-align: left;
    width: 30%;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    line-height: 22px;
}

.free-trial p{
    font-size: 20px;
    line-height: 1em;
}

.test{
    background-color: #0061FF;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.img-app{
    width: 45%;
    height: 140%;
    border: 1px solid red;
    position: absolute;
    left: 30%; 
}

.img-app>img{
    height: 100%;
    width: 100%;
}

/* Plan section in main */

.plan{
    margin: 200px auto;
    border: 1px solid red;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.text-plan{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.text-plan h2{
    font-size: 50px;
}

.renew{
    display: flex;
    height: 100%;
    width: 100%;
}

.renew span{
    display: flex;
    width: 15%;
}

.renew input{
    height: 2em;
    width: 20%;
}

.all-plan{
    height: 100%;
    width: 100%;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.height-card{
    height: 70%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.single{
    width: calc(100%/3);
    border: 1px solid black;
}

.single>h3{
    text-align: center;
    padding: 20px;
}

.name-plan{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.name-plan span:last-child{
    color: gray;
}

.name-plan span:nth-child(2){
    font-weight: bolder;
}

.description-plan{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    margin-top: 20px;
}

.try-2{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    margin-top: 20px;
}

.try-2>a{
    margin: 0 auto;
    width: 80%;
    background-color: #0061FF;
    padding: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.summary{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    margin-bottom: 50px;
}

.try-2+hr{
    margin: 50px 0px 50px 30px;
    width: 20%;
    border-top: 1px solid rgba(128, 128, 128, 0.281);
}

h3+hr{
    border-top: 1px solid rgba(128, 128, 128, 0.281);
}

.width-card{
    width: 100%;
    margin-top: 5%;
    border: 1px solid black;
}

.bottom-card{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
    height: 100%;
    width: 100%;

}

.bottom-card hr{
    margin-bottom: 10px;
}

.bottom-card>h3{
    text-align: center;
}

.enterprise-main{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.info-enterprise{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 35px;
}

#span-contact{
    font-weight: bold;
}

.info-enterprise{
    margin-bottom: 30px;
}

.sale{
    width: 25%;
    height: 20%;
    display: flex;
    align-items: flex-start;
    text-wrap: nowrap;
}

.sale a{
    background-color: #0061FF;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    width: 100%;
}

.find-partner{
    display: flex;
    width: 70%;
    border: 1px solid red;
    margin: 0 auto;
    align-items: center;
    gap: 5em;
    height: 800px;
}

.img-partner{
    height: 100%;
    border: 1px solid red;
}

.img-partner img{
    height: 100%;
    border: 1px solid red;
}

.text-partner{
    width: 35%;
    height: 60%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    border: 1px solid green;
    gap: 30px;
}

.text-partner>p{
    font-size: 20px;
    line-height: 30px;
}

.text-partner>h3{
    font-size: 40px;
}

.text-partner>a{
    border: 1px solid black;
    padding: 10px;
    width: 150px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.business{
    width: 70%;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    margin: 150px auto 0 auto;
}

.business h2:first-child{
    margin-bottom: 50px;
    font-size: 50px;
}

.business-function{
 display: flex;
 width: 100%;   
 flex-wrap: wrap;
 gap: 50px;
 justify-content: space-between;
 
}

.card{
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    flex-basis: calc((100%/3) - (600px/3));
}

.img-card{
    border: 1px solid green;
    width: 100%;
    height: 400px;
}

.img-card img{
    border: 1px solid green;
    height: 100%;
}

.card-text{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 90%;
}

.card-text h3{
    font-size: 25px;
}

.card-text p{
    font-size: 20px;
}

.clienti{
    width: 70%;
    border: solid 1px red;
    margin: 100px auto 0 auto;
}

.info-clienti{
    display: flex;
    flex-direction: column;
    gap: 50px;
    border: solid 1px red;
    width: 40%;
}

.info-clienti>h2{
    font-size: 40px;
    line-height: 1.3em;
}

.all-partner{
    width: 100%;
    border: solid 1px red;
    display: flex;
    margin-top: 200px;
}

.four-left{
    border: solid 1px red;
    display: flex;
    flex-basis: calc(100%/3);
    flex-wrap: wrap;
}

.four-left>figure{
    width: calc(100%/2);
    height: 361px;
    border: solid 1px green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four-left img{
    scale: 50%;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7244%) hue-rotate(12deg) brightness(99%) contrast(105%);
}

.first-left{
    background-color: #A2D39B;
}

.second-left{
    background-color: #61082B;
}

.third-left{
    background-color: #0093CE;
}

.third- img{
    scale: 100%;
}

.fourth-left{
    background-color: #FF1C1C;
}

.center{
    border: solid 1px red;
    display: flex;
    height: 722px;
    flex-direction: column;
    gap: 35px;
    flex-basis: calc(100%/3);
    padding: 50px;
    background-color: #F5F5F5;
}

.center hr{
    border-top: 1px solid rgba(128, 128, 128, 0.281);
    width: 100px;
   
}

.four-right{
    border: solid 1px red;
    display: flex;
    flex-basis: calc(100%/3);
    flex-wrap: wrap; 
}

.four-right>figure{
    width: calc(100%/2);
    height: 361px;
    border: solid 1px green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four-right img{
    scale: 50%;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7244%) hue-rotate(12deg) brightness(99%) contrast(105%);
}

.first-right{
    background-color: #D5001F;
}

.second-right{
    background-color: #B4D0E7;
}

.third-right{
    background-color: #0D2481;
}

.fourth-right{
    background-color: #FFD830;
}

.trial-business{
    background-color: #B2CFE6;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.trial-business>span{
    color: #61102F;
    font-size: 50px;
    width: 600px;
    height: 100px;
    font-weight: bolder;
}

.trial-business>a{
    padding: 15px 50px;
    background-color: white;
    text-decoration: none;
}

.faq{
    width: 70%;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    margin: 0 auto;
    gap: 30px;
    margin-top: 200px;
}

.faq div>p{
    display: none;
    font-weight: bolder;
    margin-top: 20px;
}

.faq div>span{
    font-weight: bolder;
}

.faq h2:first-child{
    font-size: 30px;
    margin-bottom: 35px;
}

/* footer */

footer{
    background-color: black;
    width: 100%;
    height: 500px;
    margin-top: 200px;
    color: white;
}

.foot{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    gap: 50px;
}

.list-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.list-footer ul{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 50px;
    color: white;
}

.list-footer ul li{
    text-decoration: none;
    list-style-type: none;
    color: white;
}

li a{
    text-decoration: none;
    color: white;
}

.deep{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.deep hr{
    width: 100px;
}

.deep select{
    border: 1px solid #000000;
    background-color: rgba(0, 0, 0, 0);
    color: grey;
}
